.text
{
    height: 600px;
    width: 100%;
    background-image: url('../3/1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: orangered;
}

